
/****************************
Base layout styles
*****************************/
header{
    color: #fff;
    padding: 10px 0;
    font-family:'Abril Fatface', cursive;
    font-size: 10px;
    background:#2b313a;
    text-align: center;
}
  
.banner{
    margin: 10px auto;
    padding-bottom:10px;
    text-align: center;
}

body{
  font-family: 'Merriweather', serif;
  color: #384047;
  margin: 0 auto;
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;

}

/****************************
element styles
*****************************/
*, *:before, *:after {
  box-sizing: border-box;
}

fieldset {
    border: none;
    
}

legend{
  color: black;
  padding-top: 35px;
  border-top: solid 2px #2b313a;
  width: 100%;
  font-size: 1.4em;
  margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  display: inline-block;
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 4px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  font-style:italic;
}

input[type=tel]:focus,
input[type=text]:focus,
textarea:focus,
input[type=mail]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}


input[type="radio"],
input[type="checkbox"]{
  margin: 10px 10px 10px 0px;
}

.number {
  background-color: #e8eeef ;
  color: #2b313a;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.contact-info::before{
  border-top: solid 5px #2b313a;
  content: "";
  width: 100%;
  display: block;
  position: relative;
  top: -50px;
}


.title {
  display: block;
  color: navy;
  margin: 10px auto;
}

.news-format{
  display: block;
  margin-top: 20px;
  color: navy;
}

button {
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #53BAB4;
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
}

.main-footer{
  text-align: center;
  color: lightgrey;
  font-style:italic;
}


/****************************
MEDIA QUERIES
*****************************/
@media screen and (min-width: 768px){

form{
    width: 100%;
    background:	#F0F8FF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}
  


 .number{
  margin-left:-50px;
  }
  

  
}